.container.education__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

}
.education__image{
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}
.education__item{
    background: var(--color-primary-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    
}
.education__name{
    font-weight: bold;
    font-size: 25px;
    color: var(--color-white);
}
.education__review{
    color: var(--color-)
}

@media screen and (max-width: 1024px){
    /* .experience__container{
        grid-template-columns: 1fr;
    } */
    .education__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .education__item{
        padding: 1rem;
    }
}
@media screen and (max-width: 600px){
    .education__container{
        gap: 1rem;
    }
}